.facetchart {

  h3 {
    display:inline-block;
    color:#686868;
    font-weight:normal;
    font-weight:normal;
    font-size:13px;
    padding:0;
    margin:0 0 2px 0;
  }

  .filter-buttons {
    float:right;
    padding-right:4px;
    font-family:Roboto, Arial, sans-serif;
    font-size:12px;

    button {
      margin-left:5px;
      color:#4e78ac;
      text-decoration:none;
      background:none;
      border:none;
      cursor: pointer;
      font-family:Roboto, Arial, sans-serif;

      .icon {
        position:relative;
        top:1px;
        font-size:11px;
        vertical-align:top;
        margin-right:1px;
      }

    }

    button.clear .icon {
      top:0;
      font-size:13px;
    }

    button:hover .label {
      text-decoration:underline;
    }

  }

}

/** Default color **/
.facetchart .bar {
  border-width:1px;
  border-style:solid;
  border-color:darken(#9e9ac8, 10%);
  background-color:#9e9ac8;
}

/** Color palette **/
.facetchart.palette-col-0 .bar {
  border-color:darken(#9e9ac8, 10%);
  background-color:#9e9ac8;
}

.facetchart.palette-col-1 .bar {
  border-color:darken(#74c476, 20%);
  background-color:#74c476;
}

.facetchart.palette-col-2 .bar {
  border-color:darken(#6baed6, 20%);
  background-color:#6baed6;
}

.facetchart.palette-col-3 .bar {
  border-color:darken(#b5cf6b, 20%);
  background-color:#b5cf6b;
}

.facetchart.palette-col-4 .bar {
  border-color:darken(#e7ba52, 20%);
  background-color:#e7ba52;
}
.facetchart.palette-col-5 .bar {
  border-color:darken(#d6616b, 20%);
  background-color:#d6616b;
}
